.users {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 4.5rem;
    grid-template-columns: repeat(1, 1fr); 
    margin-top: 20px;
}

.main-card {
    max-width: 700px;
    box-shadow: -5px 2px 18px 4px #ccc;
}

.card-photo {
    background: #5f98ce;
    width: 300px;
    height: 70px;
}

.image {
    background: #f9f9f9;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    top: -50px;
    border-radius: 50%;
    box-shadow: -1px 1px 6px 6px #caadad;
}

.userDetails {
    background: #f9f9f9;
    width: 300px;
    height: 120px;
    position: relative;
    top: -35px;
}

.moreDetails {
    background: #05233f;
    margin-top: -40px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

h2, h3 {
    font-size: 1rem;
    color: black;
    text-align: center;
    margin-top: 0px;
}

.userDetails .email {
    color: #3b4ce6;
}

@media only screen and (min-width: 600px){
    .users
    { 
        grid-template-columns: repeat(2, 1fr); 
    }


}

@media only screen and (min-width: 900px){
    .users
    { 
        grid-template-columns: repeat(3, 1fr); 
    }
    
}


