.address {
    width: 100%;
}

.address td, .address th {
    color: #0c455c;
    padding: 8px;
}

.address th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c455c;
    color: white;
}

tr .firstName {
    color: #039be5;
}